@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Lobster|Sofia');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

a:hover {
    text-decoration: none;
}

h2 {
    font-family: "Sofia";
    font-size: 14pt;
    font-weight: bold;
    color: #880e06;
}

h4 {
    font-family: "lobster";
    font-size: 22pt;
    color: #880e06;
}

h3 {
    font-family: "sofia";
    font-size: 2em;
    color: #880e06;
}

.display {
    font-family: "sofia";
    font-size: 4em;
    color: #880e06;
}

p {
    font-family: "avenir next", "montserrat", Arial;
    font-size: 12pt;
}

body {
    font-family: "avenir next", "montserrat", Arial;
    background-color: #f7f5e0;
}

.icons {
    margin-right: 50px;
    color: #f8b40c;
}

.fa {
    width: 30px;
}

.icoon {
    width: 150px;
}

.row {
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: rgba(255, 179, 0, 0.7);
}

.navbar a {
    color: #f8b40c;
}


/* buttons */

#reserveBtn {
    color: #f8b40c;
    cursor: pointer;
}

#reserveBtn:hover {
    background-color: #f8b40c;
    color: #f7f5e0;
}

.btn {
    transition: background-color 0.3s ease;
    background-color: transparent;
    color: #f8b40c;
    cursor: pointer;
    text-decoration: none;
    background: none;
    font-family: "sofia";
    color: #880e06;
    border-color: #f8b40c;
}

.btn:hover {
    background-color: #f8b40c;
    color: #f7f5e0;
}

.footer {
    height: 45px;
    background-color: #f8b40c;
    padding: 20px;
}

.footer a {
    text-decoration: none;
    color: #880e06;
}

.footer a:hover {
    background-color: #f8b40c;
    color: #f7f5e0;
}

.dossier {
    font-family: "lobster";
    color: #880e06;
}

.pagebtn {
    margin-top: 30px;
}


/* layout */


/* index */

.navbar a {
    font-family: "sofia";
    font-size: 16pt;
}

.navbar a:hover {
    text-decoration: none;
    color: #f7f5e0;
}

.navbar {
    background: #49340cbd;
}

#navbarNavDropdown {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.logonav {
    width: 80px;
    margin-left: 25px;
}

.navbar-nav {
    margin: auto;
}

.hero {
    background-image: url('../images/hero.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.herocontent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.logohero {
    height: 300px;
}

.truck {
    width: 100%;
    background-image: url('../images/vanindex.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.indexvan {
    max-width: 500px;
    margin-top: 10em;
    margin-left: 8em;
    margin-bottom: 10em;
}

.mobilebtn {
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: #880e06;
    padding: 30px;
    margin: 30px;
}


/* indexmenu */

.menuindex {}

.menuref {
    width: 250px;
    margin-top: 5em;
    margin-bottom: 5em;
    border-style: solid;
    border-width: 2px;
    border-color: #880e06;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    position: absolute;
    overflow: hidden;
    opacity: 0.5;
    filter: alpha(opacity=0);
    width: 55%;
    height: 81%;
    left: 22%;
    top: 10%;
    border-radius: 50%;
    border: 2px solid #f8b40c;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(50%, 50%, 0);
    transform: translate3d(50%, 50%, 0);
}

.hovereffect:hover .overlay {
    background-color: rgba(252, 178, 5, 0.5);
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1.4" /><feFuncG type="linear" slope="1.4" /><feFuncB type="linear" slope="1.4" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(0.4);
    -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background-color: transparent;
    color: #f8b40c;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-150%, -400%, 0);
    transform: translate3d(-150%, -400%, 0);
}

.hovereffect a,
.hovereffect p {
    color: #880e06;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-150%, -400%, 0);
    transform: translate3d(-150%, -400%, 0);
}

.hovereffect:hover a,
.hovereffect:hover p,
.hovereffect:hover h2,
.hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#map {
    width: 250px;
    height: 260px;
}

#maps {
    margin: 4em;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    z-index: 99;
    height: 250px;
    width: 250px;
    border: 5px solid #f8b40c;
}

.mapsbox {
    width: 100%;
    background-image: url('../images/mapindex.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.gegevens {
    text-align: center;
}

.d-sm-block i {
    transition: color 0.3s ease;
    font-size: 16pt;
    cursor: pointer;
}

.d-sm-block i:hover {
    color: #f7f5e0;
    ;
}


/* truck */

.achtergrond {
    background-image: url('../images/covertruck.jpg');
    background-position: center center;
    background-size: cover;
}

.hero2 {
    background-image: url('../images/herotruck.jpg');
    background-position: center center;
    background-size: cover;
    height: 650px;
}

.geschback {
    background-image: url('../images/geschback.jpg');
    background-position: center center;
    background-size: cover;
}

.truckbox {
    margin: 3em;
    display: flex;
    flex-direction: row;
}

.txttruck {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.titel {
    padding-top: 2em;
    margin-left: 2em;
}

.missieback {
    background-image: url('../images/key.jpg');
    background-position: center center;
    background-size: cover;
}

.missie {
    display: flex;
    flex-direction: row;
    margin-right: 3em;
}

#missie {
    margin-left: 10px;
}

.missietxt {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.prback {
    background-image: url('../images/tools.jpg');
    background-position: center center;
    background-size: cover;
}

.titelpr {
    color: #f8b40c;
}


/* truck */

.antonio {
    background-image: url('../images/italia.jpg');
    background-position: center center;
    background-size: cover;
}


/* menu */

.hero3 {
    background-image: url('../images/menuhero3.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.menutitel {
    color: #880e06;
    margin: auto;
}

.menubox {
    margin: auto;
    margin-bottom: 50px;
    width: 80%;
    padding: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: #880e06;
    margin-top: 50px;
}

.menuback {
    width: 100%;
    background-image: url('../images/cutbord.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.menuimg {
    width: 200px;
}

.uitleg {
    color: #49340c;
}

.textantonio {
    text-align: right;
    margin-top: 100px;
    max-width: 400px;
}

.antonioimg {
    margin-left: 50px;
    height: 500px;
}

.video {
    width: 100%;
    background-image: url('../images/covertruck.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2em;
}


/* agenda */


/* calender */

.table-style .today {
    background: #f8b40c;
    color: #ffffff;
}

.table-style th:nth-of-type(7),
td:nth-of-type(7) {
    color: #f8b40c;
}

.table-style th:nth-of-type(1),
td:nth-of-type(1) {
    color: #880e06;
}

.table-style tr:first-child th {
    background-color: #F6F6F6;
    text-align: center;
    font-size: 15px;
}

.fc-day-header {
    background-color: #f8b40c;
}

.fc-body {
    background-color: #f7f5e0;
}


/* calender */

.hero4 {
    background-image: url('../images/backagenda.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

.btnvragen {
    background: none;
    border-color: #880e06;
}

.btncontact {
    text-decoration: none;
    color: #880e06;
}

.btncontact :hover {
    text-decoration: none;
    color: #49340c;
}

.mail {
    width: 100%;
    background-image: url('../images/covertruck.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6em;
}

.lettericon {
    margin-top: 30px;
    text-align: center;
}

.typewriter {
    width: 800px;
    margin-right: 100px;
}


/* reserveer */

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #aca49c;
    font-size: 0.875em;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: #bbb5af;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #aca49c;
    font-size: 0.875em;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: #bbb5af;
}

input::placeholder,
textarea::placeholder {
    color: #aca49c;
    font-size: 0.875em;
}

input:focus::placeholder,
textarea::focus:placeholder {
    color: #bbb5af;
}

input::-ms-placeholder,
textarea::-ms-placeholder {
    color: #aca49c;
    font-size: 0.875em;
}

input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {
    color: #bbb5af;
}


/* on hover placeholder */

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
    color: #f8b40c;
    ;
    font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder {
    color: #f8b40c;
    ;
}

input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
    color: #f8b40c;
    ;
    font-size: 0.875em;
}

input:hover:focus::-moz-placeholder,
textarea:hover:focus::-moz-placeholder {
    color: #f8b40c;
    ;
}

input:hover::placeholder,
textarea:hover::placeholder {
    color: #f8b40c;
    ;
    font-size: 0.875em;
}

input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
    color: #f8b40c;
    ;
}

input:hover::placeholder,
textarea:hover::placeholder {
    color: #f8b40c;
    ;
    font-size: 0.875em;
}

input:hover:focus::-ms-placeholder,
textarea:hover::focus:-ms-placeholder {
    color: #f8b40c;
    ;
}

.containerform {
    background-image: url('../images/backres.jpg');
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7em;
    width: 100%;
}

.formulier {
    font-family: 'avenir next';
    color: #880e06;
    ;
    margin-top: 6em;
}

#reservatie {
    font-family: "lobster";
    font-size: 26pt;
    color: #880e06;
    position: relative;
    font-size: 2.3em;
    text-align: center;
    margin-bottom: 40px;
}

#form {
    position: relative;
}

input {
    font-family: 'avenir next', sans-serif;
    font-size: 0.875em;
    width: 100%;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: rgba(246, 185, 3, 0.5);
    outline: none;
    color: #880e06;
    border: solid 1px #880e06;
    border-bottom: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

input:hover {
    background-color: rgba(148, 47, 37, 0.5);
    color: #f8b40c;
}

textarea {
    width: 100%;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    background: rgba(246, 185, 3, 0.5);
    outline: none;
    color: #e37c0e;
    font-size: 0.875em;
    border: solid 1px #880e06;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
    background-color: rgba(148, 47, 37, 0.5);
    color: #f8b40c;
    ;
}

#submit {
    padding: 0;
    margin: -5px 0px 0px 0px;
    font-size: 0.875em;
    color: #880e06;
    outline: none;
    cursor: pointer;
    border: solid 1px #880e06;
    ;
    border-top: none;
}

#submit:hover {
    color: #f8b40c;
}

.iconsagenda {
    color: #880e06;
}

#form input::placeholder {
    color: #880e06;
}

#form textarea::placeholder {
    color: #880e06;
}


/* @media */

@media only screen and (max-width:575px) {
    .antonioimg {
        width: 300px;
        height: 300px;
    }
    .indexvan {
        text-align: center;
        margin: 20px;
    }
    .minivan {
        margin-left: 50px;
    }
    h4 {
        text-align: center;
    }
    .mobileresbtn {
        margin-top: 15px;
    }
    .textantonio {
        margin: 20px;
        text-align: center;
    }
    .truckbox {
        flex-direction: column;
    }
    .titel {
        text-align: left;
    }
    .missie {
        display: flex;
        flex-direction: column;
        margin-left: 3em;
    }
    #missie {
        margin-left: 2em;
    }
    .containerform {
        background-position: 50% 50%;
    }
}

@media screen and(max-width:490px) {
    #form {
        width: 350px;
    }
}

@media only screen and (max-width:775px) {
    .navbar-toggler {
        height: 90px;
    }
    .navbar-toggler-icon {
        height: 2em;
        width: 2em;
    }
}